# Python virtual environments
anime/
venv/
env/
.venv/
.env
# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter/IPython
.ipynb_checkpoints

# CSV and logs
*.csv
*.log

# Dataset folders
temp_files/
MyAnimeList-dataset/
noGithubpush/
dataset/
dataset/archive/wiki_pages
dataset/archive/wiki_index.faiss
generated_genres/
generated_synopses/
# System files
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

RAG_Data_creation\wiki_pages